<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<h1>Add a new Book</h1>

{%if error%}
<p style="color: red;">{{error}}</p>
{%endif%}

<form action="/add_book" method="POST">

    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required><br><br>

    <label for="author">Author:</label>
    <select id="author" name="author_id">
      <option value="">--Select an Author--</option>
      {%for author in authors%}
      <option value="{{author.author_id}}">{{author.author_name}}</option>
      {%endfor%}
    </select><br><br>


    <label for="publication_date">Publication Date:</label>
    <input type="date" id="publication_date" name="publication_date"><br><br>

    <input type="submit" value="Add Book">

</form>

</body>
</html>
