<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <h1>Welcome to Book Alchemy</h1>
    <p> These are the books in the database:</p>

    <div class="controls">
      <form action="/" method="get">
        <label for="order_by">Sort by:</label>
        <select name="order_by" id="order_by">
          <option value="title" {% if order_by == 'title' %}selected{% endif %}>Title</option>
          <option value="author" {% if order_by == 'author' %}selected{% endif %}>Author</option>
        </select>
        <button type="submit">Sort</button>
      </form>
    </div>

    {% for book in books %}
    <div> <h3>{{ book.book_title }} by {{book.author.author_name}}</h3>
    </div>
    {% endfor %}<br><br>

  <button onclick="window.location.href='/add_book'">Add Book</button>
  <button onclick="window.location.href='/add_author'">Add Author</button>

  </body>
</html>